@model List<APIClientTool.ViewModels.EFileStatus>
@{
    ViewBag.Title = "API Option";
}
<div class="spacer10"></div>
<table class="responsive">
    <tr>
        <td class="labelName"><label class="control-label">Choose form to get returns:</label></td>
        <td class="fieldName">
            <div class="dropdown">
                <button class="dropdown-toggle btn btn-primary btn-sm" type="button" data-toggle="dropdown" id="btnDropdown" style="background-color: #60b9ca;">
                    Select Form
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)" onclick="GetEfileStatus()">Form W-2</a></li>
                    <li><a href="javascript:void(0)" onclick="GetForm941EfileStatus()">Form 941</a></li>
                    <li><a href="javascript:void(0)" onclick="GetForm941SCHREfileStatus()">Form 941 SCHR</a></li>
                </ul>
            </div>
        </td>
    </tr>
</table>
<div class="spacer25"></div>
<div id="GetEfileStatus">

</div>

<script type="text/javascript">

    $(function () {
        GetEfileStatus();
        $(".nav_menu li").removeClass('active');
        $("#liefilestatus").addClass('active');
    });

    function GetEfileStatus() {
        $('#btnDropdown').html('Form W-2 <span class="caret"></span>')
        $.ajax({
            url: "/efile/_getefilestatus/",
            cache: false,
            data: {},
            success: function (data) {
                $('#GetEfileStatus').html("");
                $('#GetEfileStatus').html(data);
            },
            error: function (err) {
                console.log(err.responseText);
            }
        });
    }

    function GetForm941EfileStatus() {
        $('#btnDropdown').html('Form 941 <span class="caret"></span>')
        $.ajax({
            url: "/efile/_getform941efilestatus/",
            cache: false,
            data: {},
            success: function (data) {
                $('#GetEfileStatus').html("");
                $('#GetEfileStatus').html(data);
            },
            error: function (err) {
                console.log(err.responseText);
            }
        });
    }

    function GetForm941SCHREfileStatus() {
        $('#btnDropdown').html('Form 941-SCHR <span class="caret"></span>')
        $.ajax({
            url: "/efile/_getform941schrefilestatus/",
            cache: false,
            data: {},
            success: function (data) {
                $('#GetEfileStatus').html("");
                $('#GetEfileStatus').html(data);
            },
            error: function (err) {
                console.log(err.responseText);
            }
        });
    }



</script>
