<div class="container">
    <h2>Form W-2</h2>
    <div class="list-group">
        <a href="#" class="list-group-item">Create</a>
        <a href="#" class="list-group-item">Update</a>
        <a href="#" class="list-group-item">Delete</a>
        <a href="#" class="list-group-item">Transmit</a>
        <a href="#" class="list-group-item">List</a>
        <a href="#" class="list-group-item">Get</a>
        <a href="#" class="list-group-item">Get Efile Status</a>
    </div>
</div>
