<div class="modal-header edit-modal-header">
    <button type="button" class="close" data-dismiss="modal"></button>
    <h4 id="form_heading" class="modal-title">
        Return Validate
    </h4>
</div>
<div class="modal-body edit-modal-body white_bg">

</div>

<div class="modal-footer edit-modal-footer mTopNo">
    <div class="taC">
        <button type="button" class="btn btn_md btn_second" data-dismiss="modal">
            Okay
        </button>
    </div>
</div>

<script type="text/javascript">
    $(function () {


    })
</script>
