@model List<APIClientTool.ViewModels.EFileStatus>
<table class="table table-bordered">
    <thead class="thead-inverse">
        <tr>
            <th>SubmissionId</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model.OrderBy(a => a.UpdatedTimeStamp))
            {
                <tr>
                    <td>
                        @item.SubmissionId
                    </td>
                    @if (item.IsReturnTransmitted)
                    {
                        <td style="color:green">Transmitted</td>
                    }
                    else
                    {
                        <td style="color:dodgerblue">Not Transmitted</td>
                    }
                    <td>
                        <button type="button" class="btn btn_sm btn_second" onclick="APIValidate('@item.SubmissionId')" id="btnapival">
                            APIValidate
                            <i class="fa fa-spinner fa-spin" aria-hidden="true" id="apivalspinner" style="display:none"></i>
                        </button>
                        <button type="button" class="btn btn_sm btn_second" onclick="EfileStatus('@item.SubmissionId')" id="btnEfilestatus">
                            EfileStatus
                            <i class="fa fa-spinner fa-spin" aria-hidden="true" id="statusSpinner" style="display:none"></i>
                        </button>
                        @if (!item.IsReturnTransmitted)
                        {
                            <button type="button" class="btn btn_sm btn_primary" onclick="Transmit('@item.SubmissionId')" id="btnTransmit">
                                Transmit
                                <i class="fa fa-spinner fa-spin" aria-hidden="true" id="TransmitSpinner" style="display:none"></i>
                            </button>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2" class="taC">No result found</td>
            </tr>
        }

    </tbody>
</table>

